@{
    Layout = null;
}

<!DOCTYPE html>

<html @if (!Request.Url.AbsolutePath.EndsWith("online")) { @: manifest="@Url.Action("Index", "Offline")"
          }>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />

    <title>Pocket DDD</title>

    @Html.OfflineStyleRender(Request, "~/Content/bootstrap")
    @Html.OfflineStyleRender(Request, "~/Content/css")
</head>
<body>
    @Html.Partial("_comments")
    <div class="container">
        @Html.Partial("_header")
        <div class="pageContainer" data-bind="">

            @Html.Partial("_intro")
            @Html.Partial("_eventList")
            @Html.Partial("_eventHome")
            @Html.Partial("_sessionList")
            @Html.Partial("_sessionHome")
            @Html.Partial("_eventFeedback")
        </div>
    </div>

    @Html.OfflineScriptRender(Request, "~/bundles/jquery")
    @Html.OfflineScriptRender(Request, "~/bundles/bootstrap")
    @Html.OfflineScriptRender(Request, "~/bundles/otherlibaries")
    @Html.OfflineScriptRender(Request, "~/bundles/knockout")
    @Html.OfflineScriptRender(Request, "~/bundles/app")
</body>
</html>



